@{
    ViewData["Title"] = "День открытых дверей";
}
<h1>@ViewData["Title"]</h1>

<p>26 марта 2022 года в Севастопольском торгово - экономическом техникуме, прошёл День открытых дверей в формате реального времени (оффлайн). Во время экскурсии по техникуму потенциальные абитуриенты из 34 школ Севастополя и разных городов Крыма, а также их сопровождающие (классные руководители, родители и родственники) получили возможность визуально познакомиться с техникумом, узнать об интересной внеучебной деятельности, правилах приема и обучения, получить ответы на интересующие вопросы.</p>
   

<div align="center">
    <br  />
    <img src="/img/MyCollages.jpg"/>
</div>


