@{
    ViewData["Title"] = "Подробное описание техникума";
}
<h1>@ViewData["Title"]</h1>

<p>Государственное бюджетное образовательное учреждение профессионального образования города Севастополя "Севастопольский торгово-экономический техникум" –  учреждение профессионального образования, работающее на рынке образовательных услуг уже более 50 лет. История образовательного учреждения начинается с 1949 года открытием школы кулинарного ученичества. С 01.09.1964 г. на базе школы торгово-кулинарного ученичества организуется Севастопольский техникум советской торговли. В 1991 г. переименован в Севастопольский коммерческий техникум (приказ Министерства торговли УССР от 19.09.1991 № 91).</p>
<p>В соответствии с постановлением Кабинета Министров Украины от 18.01.1992 № 15 «О передаче учебных заведений Министерства внешних экономических связей и торговли в систему Минобразования Украины» техникум был передан в подчинение Министерству образования и науки Украины и внесен в Единый государственный реестр предприятий и организации Украины 03.10.1997 года.</p>
<p> За время существования техникума многие выпускники образовательной организации стали высококвалифицированными специалистами и руководителями предприятий сферы услуг города Севастополя и Крымского региона. Опытные, талантливые преподаватели образовательного учреждения обеспечивают высокий уровень подготовки, общее и профессиональное развитие личности, становление профессиональной культуры обучающихся. Студенты ГБОУПО "СТЭТ" - активные участники, победители и призёры городских, всероссийских, международных конкурсов, чемпионатов, олимпиад профессионального мастерства.</p>
<p>Обеспечение практической подготовки обучающихся производится согласно договорам с предприятиями города и региона, позволяя  будущим выпускникам не только научиться применять полученные теоретические знания, приобрести опыт работы в реальной производственной среде, но и сделать заявку будущим работодателям о трудоустройстве в перспективе.</p>

<div align="center">
    <br  />
    <p>Изображение техникума (вход).</p>
    <img src="/img/Photo.png"/>
</div>


